.style {
  max-width: 850px;
  margin: 30px auto;
  border-radius: 15px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.container {
  padding: 50px;
}

.city-look {
  font-family: "Cabin Sketch", cursive;
}
#city {
  font-size: 50px;
  font-family: "Cabin Sketch", cursive;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

#currentTemperature {
  font-size: 60px;
  font-family: "Major Mono Display", monospace;
}

#enter-city {
  color: #e3ffc3;
  border-radius: 5px;
  border-color: #6ce6dd;
}

#enter-city:hover {
  color: #6ce6dd;
  cursor: pointer;
  font-size: 20px;
}

#current-city {
  color: #e3ffc3;
  border-radius: 5px;
  border-color: #6ce6dd;
}

#current-city:hover {
  color: #6ce6dd;
  cursor: pointer;
  font-size: 20px;
}

.sunrise,
.sunset {
  font-family: "Major Mono Display", monospace;
}

main {
  padding: 50px;
}

h1 {
  font-size: 120px;
  font-family: "Cabin Sketch", cursive;
}

ul {
  list-style: none;
  font-size: 16px;
  font-family: "Cabin Sketch", cursive;
  padding: 15px;
  margin-top: 40px;
}

li::first-letter {
  text-transform: capitalize;
}

#units {
  position: relative;
  font-size: 25px;
  top: -25px;
}

#hum0 {
  font-size: 16px;
  font-family: "Cabin Sketch", cursive;
}

#temp {
  font-size: 20px;
  margin: 50px 0px 0px 700px;
  padding: 20px 10px 20px 10px;
  font-family: "Cabin Sketch", cursive;
}

.convert:hover {
  color: #6ce6dd;
  cursor: pointer;
  font-size: 20px;
}

.weather-forecast {
  padding: 50px;
  text-align: center;
}
.weather-forecast-temperatures {
  font-size: 20px;
  font-family: "Major Mono Display", monospace;
}

.weather-forecast-date {
  font-family: "Cabin Sketch", cursive;
  font-size: 30px;
}

.fa-tint {
  color: #40a8c4;
}
.humidity {
  margin-top: 30px;
  margin-left: 21px;
  font-size: 12px;
  font-family: "Major Mono Display", monospace;
}

.fa-sun {
  color: #f7aa00;
}

.gitHub {
  text-align: center;
  font-size: 14px;
  font-family: "Cabin Sketch", cursive;
}
